/**
 * Gamestudio
 */

a:link {
    color: #43A9FF;
}

a:visited {
    color: turquoise;
}

.inheritWidth {
    max-width: inherit;
}

/**
 * Colors
 */

#redText {
    color: red;
}

#redColor {
    color: red;
}

/*
 * Google Sign In
 */

#googleSignIn {
    float: right;
}

.skryty {
    display: none;
}

.zobraz {
    display: block;
}

/*
 * General position formatting
 */

.center {
    margin: auto;
}

.centerText {
    text-align: center;
}

/*
 * Included in all Games
 */

.hallOfFame {
    margin-top: 20px;
    color: white;
}
