/**
 * List of all games.
 */

/**
 * Div under the datascroller div has to have its custom background style disabled.
 */
.dataScrollerOverride > div {
    background: none !important;
    border: none !important;
}

/**
 * Every game from the datasource will have following styles.
 */
.games > a > p {
    text-align: center;
    font-size: 30px;
    color: #fff95d;
}

.games > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 450px;
    max-height: 300px;
    margin-bottom: 30px;
}

.games > a {
}
