.games > a > p {
    text-align: center;
    font-size: 30px;
    color: #fff95d;
}

.games > a > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 450px;
    max-height: 300px;
    margin-bottom: 30px;
}

.games > a {
}
