/*
 * Tesserae
 */

.fieldTextArea {
    width: 100%;
    text-align: center;
    resize: none;
}

.fieldCommandArea {
    width: 100%;
    text-align: center;
}

.aroundButtons {
    margin: 5px 0 5px 0;
}

.fieldMessageArea {
    width: 100%;
    text-align: center;
    border: none;
    background-color: paleturquoise;
    font-family: monospace;
    font-size: 14px
}

.gameForm {
    margin: 20px 0 20px 0;
}
