/*
 * Tesserae
 */

.gameForm {
    margin: 20px 0 20px 0;
}

/*
 * Graphical Field
 */

.centerField > table {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.informationalText {
    text-align: center;
    font-size: 33px;
    font-family: fantasy;
}

.tesseraeField > table > tbody > tr > td {
    border: 3px solid #0043A8;
    border-style: dotted;
}

.tesseraeSelectedTile {
    background-color: ghostwhite;
    border: 3px solid green !important;
}

.tesseraeAllowedTile {
    background-color: greenyellow;
    border: 3px solid white !important;
}

/*
 * Text Field
 */

.fieldTextArea {
    width: 100%;
    text-align: center;
    resize: none;
}

/*
 * Interpreter and command objects
 */

.fieldCommandArea {
    width: 100%;
    text-align: center;
}

.aroundButtons {
    margin: 5px 0 5px 0;
}

.fieldMessageArea {
    width: 100%;
    text-align: center;
    border: none;
    background-color: paleturquoise;
    font-family: monospace;
    font-size: 14px
}

/**
 * Current game status information
 */
.scoreAndMoves {
    margin-top: 20px;
}

.scoreAndMoves > tbody > tr > td > label {
    color: lightyellow;
}
